@media (min-width : 430px) {
    .main-layout {
        max-width: 370px
    }





}

@media (min-width : 630px) {
    .main-layout {
        max-width: 550px
    }



}

@media (min-width : 720px) {
    .main-layout {
        max-width: 650px;
    }

    .gallery-body {
        margin-inline-start: 10px;
        margin-inline-end: 10px;
    }

    .download>a {

        right: 0px;
    }

    .actions {
        align-self: stretch;
    }





}

@media (min-width : 840px) {
    .main-layout {
        max-width: 750px;
    }

    .download {
        font-size: 1.5em;
    }

    .share {
        font-size: 1.5em;
    }


}

@media (min-width: 1020px) {
    .main-layout {
        max-width: 950px;
    }





}

@media (min-width: 1340px) {
    .main-layout {
        max-width: 1950px;
    }

    .modal {

        max-height: 100%;
        min-width: 90%;
        flex-direction: unset;
        /* top: 200px; */

        gap: 10px;


    }


    .canvas {
        margin-top: 0;
        height: unset;


    }

    .modal {
        top: 0

    }










}

@media (min-width: 1500px) {
    .main-layout {
        max-width: 1500px;
    }

    .saved-modal {
        height: 100%;
    }
   






}